# Machine Learning

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
import os
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

In [2]:
df_train=pd.read_csv("./../data/application_train.csv",encoding="utf-8",index_col=0)
df_test=pd.read_csv("./../data/application_test.csv",encoding="utf-8",index_col=0)

# USE TEST DATASET

In [3]:
df = pd.concat([df_test])
df_safe = pd.concat([df_test])
df_safe

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,Unaccompanied,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,Family,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [4]:
# comparaison entre df et df sans les nan

df_salvage_drop=df.dropna()
' '.join(['ratio:' , str(df_salvage_drop.shape[0]) ,'/' , str(df.shape[0]), '=' , str(round(df_salvage_drop.shape[0]/df.shape[0]*100,2)), '%'])

'ratio: 1739 / 48744 = 3.57 %'

In [5]:
# liste les valeurs par default de chaque clmn

def one_line_try(serie):
    try:
        return float(serie.mean())
    except:
        return float(np.nan)
    
default_value_per_clmn = {clmn : one_line_try(df_salvage_drop[clmn]) for clmn in df_salvage_drop}

default_value_per_clmn

{'NAME_CONTRACT_TYPE': nan,
 'CODE_GENDER': nan,
 'FLAG_OWN_CAR': nan,
 'FLAG_OWN_REALTY': nan,
 'CNT_CHILDREN': 0.6129959746981024,
 'AMT_INCOME_TOTAL': 233975.63432432435,
 'AMT_CREDIT': 664432.9700977573,
 'AMT_ANNUITY': 35229.43128234617,
 'AMT_GOODS_PRICE': 603784.4516963772,
 'NAME_TYPE_SUITE': nan,
 'NAME_INCOME_TYPE': nan,
 'NAME_EDUCATION_TYPE': nan,
 'NAME_FAMILY_STATUS': nan,
 'NAME_HOUSING_TYPE': nan,
 'REGION_POPULATION_RELATIVE': 0.02418551466359977,
 'DAYS_BIRTH': -14476.511788384129,
 'DAYS_EMPLOYED': -2530.9056929269696,
 'DAYS_REGISTRATION': -4396.87291546866,
 'DAYS_ID_PUBLISH': -3009.9010925819434,
 'OWN_CAR_AGE': 10.778033352501438,
 'FLAG_MOBIL': 1.0,
 'FLAG_EMP_PHONE': 1.0,
 'FLAG_WORK_PHONE': 0.24726854514088556,
 'FLAG_CONT_MOBILE': 0.9982748706152962,
 'FLAG_PHONE': 0.3139735480161012,
 'FLAG_EMAIL': 0.2593444508338125,
 'OCCUPATION_TYPE': nan,
 'CNT_FAM_MEMBERS': 2.45083381253594,
 'REGION_RATING_CLIENT': 1.9884991374353076,
 'REGION_RATING_CLIENT_W_CITY': 1.9137435307648074,
 'WEEKDAY_APPR_PROCESS_START': nan,
 'HOUR_APPR_PROCESS_START': 11.957446808510639,
 'REG_REGION_NOT_LIVE_REGION': 0.013801035077630822,
 'REG_REGION_NOT_WORK_REGION': 0.05980448533640023,
 'LIVE_REGION_NOT_WORK_REGION': 0.051753881541115584,
 'REG_CITY_NOT_LIVE_CITY': 0.03220241518113859,
 'REG_CITY_NOT_WORK_CITY': 0.144335825186889,
 'LIVE_CITY_NOT_WORK_CITY': 0.12995974698102358,
 'ORGANIZATION_TYPE': nan,
 'EXT_SOURCE_1': 0.49983212314476105,
 'EXT_SOURCE_2': 0.549725699124114,
 'EXT_SOURCE_3': 0.4850270889289803,
 'APARTMENTS_AVG': 0.13166785508913167,
 'BASEMENTAREA_AVG': 0.09291650373778032,
 'YEARS_BEGINEXPLUATATION_AVG': 0.982722771707878,
 'YEARS_BUILD_AVG': 0.7637948246118459,
 'COMMONAREA_AVG': 0.04716164462334675,
 'ELEVATORS_AVG': 0.09220448533640023,
 'ENTRANCES_AVG': 0.15699436457734328,
 'FLOORSMAX_AVG': 0.2571403680276021,
 'FLOORSMIN_AVG': 0.252213686026452,
 'LANDAREA_AVG': 0.06740833812535942,
 'LIVINGAPARTMENTS_AVG': 0.10566981023576767,
 'LIVINGAREA_AVG': 0.12439010925819435,
 'NONLIVINGAPARTMENTS_AVG': 0.008193156986774008,
 'NONLIVINGAREA_AVG': 0.027567165037377803,
 'APARTMENTS_MODE': 0.12588976423231743,
 'BASEMENTAREA_MODE': 0.09059988499137435,
 'YEARS_BEGINEXPLUATATION_MODE': 0.9824829212190913,
 'YEARS_BUILD_MODE': 0.7695967222541691,
 'COMMONAREA_MODE': 0.04466388729154687,
 'ELEVATORS_MODE': 0.08616670500287521,
 'ENTRANCES_MODE': 0.15047688326624498,
 'FLOORSMAX_MODE': 0.25161276595744686,
 'FLOORSMIN_MODE': 0.2469994824611846,
 'LANDAREA_MODE': 0.06500299022426682,
 'LIVINGAPARTMENTS_MODE': 0.11017159286946522,
 'LIVINGAREA_MODE': 0.11994381828637146,
 'NONLIVINGAPARTMENTS_MODE': 0.007182346175963197,
 'NONLIVINGAREA_MODE': 0.025092696952271423,
 'APARTMENTS_MEDI': 0.13176658999424956,
 'BASEMENTAREA_MEDI': 0.09207820586543991,
 'YEARS_BEGINEXPLUATATION_MEDI': 0.9827809085681426,
 'YEARS_BUILD_MEDI': 0.7668867740080506,
 'COMMONAREA_MEDI': 0.04648740655549166,
 'ELEVATORS_MEDI': 0.09076480736055205,
 'ENTRANCES_MEDI': 0.15594893617021277,
 'FLOORSMAX_MEDI': 0.2563682001150086,
 'FLOORSMIN_MEDI': 0.2516361127084531,
 'LANDAREA_MEDI': 0.0681247843588269,
 'LIVINGAPARTMENTS_MEDI': 0.10654203565267396,
 'LIVINGAREA_MEDI': 0.12485411155836688,
 'NONLIVINGAPARTMENTS_MEDI': 0.008003507763082231,
 'NONLIVINGAREA_MEDI': 0.027078838412880966,
 'FONDKAPREMONT_MODE': nan,
 'HOUSETYPE_MODE': nan,
 'TOTALAREA_MODE': 0.12238435882691201,
 'WALLSMATERIAL_MODE': nan,
 'EMERGENCYSTATE_MODE': nan,
 'OBS_30_CNT_SOCIAL_CIRCLE': 1.4203565267395055,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0.12535940195514664,
 'OBS_60_CNT_SOCIAL_CIRCLE': 1.40598044853364,
 'DEF_60_CNT_SOCIAL_CIRCLE': 0.08280621046578493,
 'DAYS_LAST_PHONE_CHANGE': -1244.8315123634272,
 'FLAG_DOCUMENT_2': 0.0,
 'FLAG_DOCUMENT_3': 0.7400805060379528,
 'FLAG_DOCUMENT_4': 0.0,
 'FLAG_DOCUMENT_5': 0.0097757331799885,
 'FLAG_DOCUMENT_6': 0.006900517538815411,
 'FLAG_DOCUMENT_7': 0.0,
 'FLAG_DOCUMENT_8': 0.21966647498562392,
 'FLAG_DOCUMENT_9': 0.0023001725129384704,
 'FLAG_DOCUMENT_10': 0.0,
 'FLAG_DOCUMENT_11': 0.0005750431282346176,
 'FLAG_DOCUMENT_12': 0.0,
 'FLAG_DOCUMENT_13': 0.0,
 'FLAG_DOCUMENT_14': 0.0,
 'FLAG_DOCUMENT_15': 0.0,
 'FLAG_DOCUMENT_16': 0.0,
 'FLAG_DOCUMENT_17': 0.0,
 'FLAG_DOCUMENT_18': 0.004600345025876941,
 'FLAG_DOCUMENT_19': 0.0,
 'FLAG_DOCUMENT_20': 0.0,
 'FLAG_DOCUMENT_21': 0.0,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0.0017251293847038527,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0.0011500862564692352,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0.0023001725129384704,
 'AMT_REQ_CREDIT_BUREAU_MON': 0.0063254744105807935,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0.5618171362852213,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 1.882691201840138}

In [6]:
# applique ces valeur aux clmn

for clmn in df:
    df[clmn]= [A if str(A) != 'nan' else default_value_per_clmn[clmn] for A in df[clmn]]
df_cute_drop = df.dropna()
' '.join(['ratio:' , str(df_cute_drop.shape[0]) ,'/' , str(df.shape[0]), '=' ,str(round(df_cute_drop.shape[0]/df.shape[0]*100,2)), '%'])

'ratio: 10468 / 48744 = 21.48 %'

In [7]:
del df_cute_drop
del df_salvage_drop
df = df.dropna()

In [8]:
colonnes=[colonne for colonne in df]
types_colonnes=list(map(lambda x : {x : list(set(df[x].map(lambda x : str(type(x)))))} , colonnes))
colonnes_str=list(filter(lambda x : "<class 'str'>" in x[list(x)[0]], types_colonnes))

def vectorisation(col):
    voc=list(set(list(col)))
    val={voc[i]:i for i in range(len(voc))}
    return col.map(lambda x : val[x])



for i in [list(i)[0] for i in colonnes_str]:
    df[i]=vectorisation(df[i])

In [9]:
# liste les valeurs par default de chaque clmn

def one_line_try(serie):
    try:
        return float(serie.mean())
    except:
        return float(np.nan)
    
default_value_per_clmn = {clmn : one_line_try(df[clmn]) for clmn in df}

df = df_safe


    
for clmn in df:
    df[clmn]= [A if str(A) != 'nan' else default_value_per_clmn[clmn] for A in df[clmn]]
df_cute_drop = df.dropna()
' '.join(['ratio:' , str(df_cute_drop.shape[0]) ,'/' , str(df.shape[0]), '=' ,str(round(df_cute_drop.shape[0]/df.shape[0]*100,2)), '%'])

'ratio: 48744 / 48744 = 100.0 %'

In [10]:
default_value_per_clmn

{'NAME_CONTRACT_TYPE': 0.009361864730607567,
 'CODE_GENDER': 0.6324990447076806,
 'FLAG_OWN_CAR': 0.36090943828811617,
 'FLAG_OWN_REALTY': 0.6961215131830341,
 'CNT_CHILDREN': 0.465418418035919,
 'AMT_INCOME_TOTAL': 199190.76887562097,
 'AMT_CREDIT': 561177.8322506687,
 'AMT_ANNUITY': 31608.022928828468,
 'AMT_GOODS_PRICE': 502570.0777130302,
 'NAME_TYPE_SUITE': 4.657336645013374,
 'NAME_INCOME_TYPE': 1.784294994268246,
 'NAME_EDUCATION_TYPE': 2.6780664883454337,
 'NAME_FAMILY_STATUS': 2.746274359954146,
 'NAME_HOUSING_TYPE': 3.8214558654948414,
 'REGION_POPULATION_RELATIVE': 0.02319750114635078,
 'DAYS_BIRTH': -14830.464654184181,
 'DAYS_EMPLOYED': -2579.328525028659,
 'DAYS_REGISTRATION': -4823.712361482613,
 'DAYS_ID_PUBLISH': -2857.711883836454,
 'OWN_CAR_AGE': 10.767581498685006,
 'FLAG_MOBIL': 1.0,
 'FLAG_EMP_PHONE': 1.0,
 'FLAG_WORK_PHONE': 0.24102025219717232,
 'FLAG_CONT_MOBILE': 0.9984715322888804,
 'FLAG_PHONE': 0.30368742835307605,
 'FLAG_EMAIL': 0.19908291937332823,
 'OCCUPATION_TYPE': 9.872659533817348,
 'CNT_FAM_MEMBERS': 2.216278181123424,
 'REGION_RATING_CLIENT': 1.973251815055407,
 'REGION_RATING_CLIENT_W_CITY': 1.911730989682843,
 'WEEKDAY_APPR_PROCESS_START': 3.557317539166985,
 'HOUR_APPR_PROCESS_START': 12.136606801681314,
 'REG_REGION_NOT_LIVE_REGION': 0.013756209400076424,
 'REG_REGION_NOT_WORK_REGION': 0.05836836071837982,
 'LIVE_REGION_NOT_WORK_REGION': 0.049484142147497134,
 'REG_CITY_NOT_LIVE_CITY': 0.035250286587695835,
 'REG_CITY_NOT_WORK_CITY': 0.13469621704241497,
 'LIVE_CITY_NOT_WORK_CITY': 0.1146350783339702,
 'ORGANIZATION_TYPE': 29.79356132976691,
 'EXT_SOURCE_1': 0.4986197532145123,
 'EXT_SOURCE_2': 0.535333295575374,
 'EXT_SOURCE_3': 0.49150814901952555,
 'APARTMENTS_AVG': 0.12976825596582525,
 'BASEMENTAREA_AVG': 0.09079652529585497,
 'YEARS_BEGINEXPLUATATION_AVG': 0.9816015458706212,
 'YEARS_BUILD_AVG': 0.7529175923205703,
 'COMMONAREA_AVG': 0.047788671221893037,
 'ELEVATORS_AVG': 0.08770869136927723,
 'ENTRANCES_AVG': 0.1551430624243704,
 'FLOORSMAX_AVG': 0.24668070712726076,
 'FLOORSMIN_AVG': 0.24120972816632436,
 'LANDAREA_AVG': 0.06756491877103812,
 'LIVINGAPARTMENTS_AVG': 0.10609842046617388,
 'LIVINGAREA_AVG': 0.12037027266536775,
 'NONLIVINGAPARTMENTS_AVG': 0.008952502591209817,
 'NONLIVINGAREA_AVG': 0.02702228242681824,
 'APARTMENTS_MODE': 0.12529964616829448,
 'BASEMENTAREA_MODE': 0.08894635652388297,
 'YEARS_BEGINEXPLUATATION_MODE': 0.9810455639443784,
 'YEARS_BUILD_MODE': 0.7600104476239424,
 'COMMONAREA_MODE': 0.045597141670894716,
 'ELEVATORS_MODE': 0.08232333491834586,
 'ENTRANCES_MODE': 0.14970736602341086,
 'FLOORSMAX_MODE': 0.2419360982609615,
 'FLOORSMIN_MODE': 0.2367879712601487,
 'LANDAREA_MODE': 0.065742222948198,
 'LIVINGAPARTMENTS_MODE': 0.11109706225363732,
 'LIVINGAREA_MODE': 0.11741102492483459,
 'NONLIVINGAPARTMENTS_MODE': 0.007930639048262973,
 'NONLIVINGAREA_MODE': 0.025035007123766995,
 'APARTMENTS_MEDI': 0.12998634207199664,
 'BASEMENTAREA_MEDI': 0.09009937308323535,
 'YEARS_BEGINEXPLUATATION_MEDI': 0.9816372131513703,
 'YEARS_BUILD_MEDI': 0.7561323122051311,
 'COMMONAREA_MEDI': 0.04758833799571651,
 'ELEVATORS_MEDI': 0.08631782657868235,
 'ENTRANCES_MEDI': 0.15434839470239597,
 'FLOORSMAX_MEDI': 0.24611398635849158,
 'FLOORSMIN_MEDI': 0.24076897508834946,
 'LANDAREA_MEDI': 0.06839652882258106,
 'LIVINGAPARTMENTS_MEDI': 0.1071920578567657,
 'LIVINGAREA_MEDI': 0.12126316491696372,
 'NONLIVINGAPARTMENTS_MEDI': 0.00865873849666543,
 'NONLIVINGAREA_MEDI': 0.026610588687493174,
 'FONDKAPREMONT_MODE': 1.9573939625525412,
 'HOUSETYPE_MODE': 1.9794612151318303,
 'TOTALAREA_MODE': 0.11699720307548094,
 'WALLSMATERIAL_MODE': 1.3631066106228507,
 'EMERGENCYSTATE_MODE': 0.00850210164310279,
 'OBS_30_CNT_SOCIAL_CIRCLE': 1.4365630966456988,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0.14270897170554891,
 'OBS_60_CNT_SOCIAL_CIRCLE': 1.4238480954470516,
 'DEF_60_CNT_SOCIAL_CIRCLE': 0.0988325987269068,
 'DAYS_LAST_PHONE_CHANGE': -1143.0441345051586,
 'FLAG_DOCUMENT_2': 0.0,
 'FLAG_DOCUMENT_3': 0.8283339701948796,
 'FLAG_DOCUMENT_4': 0.0,
 'FLAG_DOCUMENT_5': 0.01480703095147115,
 'FLAG_DOCUMENT_6': 0.00850210164310279,
 'FLAG_DOCUMENT_7': 0.0,
 'FLAG_DOCUMENT_8': 0.11855177684371418,
 'FLAG_DOCUMENT_9': 0.006591517004203286,
 'FLAG_DOCUMENT_10': 0.0,
 'FLAG_DOCUMENT_11': 0.0014329384791746274,
 'FLAG_DOCUMENT_12': 0.0,
 'FLAG_DOCUMENT_13': 0.0,
 'FLAG_DOCUMENT_14': 0.0,
 'FLAG_DOCUMENT_15': 0.0,
 'FLAG_DOCUMENT_16': 0.0,
 'FLAG_DOCUMENT_17': 0.0,
 'FLAG_DOCUMENT_18': 0.002388230798624379,
 'FLAG_DOCUMENT_19': 0.0,
 'FLAG_DOCUMENT_20': 0.0,
 'FLAG_DOCUMENT_21': 0.0,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0.0018173076775179228,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0.001370753838253574,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0.0035057415320669497,
 'AMT_REQ_CREDIT_BUREAU_MON': 0.009688553829156598,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0.5561722870522129,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 1.8992545643636303}

In [11]:
df

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,4.65734,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000
100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,...,0,0,0,0,0.001817,0.001371,0.003506,0.009689,0.556172,1.899255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,Unaccompanied,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,Unaccompanied,...,0,0,0,0,0.001817,0.001371,0.003506,0.009689,0.556172,1.899255
456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,Unaccompanied,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000
456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,Family,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000

In [12]:
del df_cute_drop
df = df.dropna()

colonnes=[colonne for colonne in df]
types_colonnes=list(map(lambda x : {x : list(set(df[x].map(lambda x : str(type(x)))))} , colonnes))
colonnes_str=list(filter(lambda x : "<class 'str'>" in x[list(x)[0]], types_colonnes))

def vectorisation(col):
    voc=list(set(list(col)))
    val={voc[i]:i for i in range(len(voc))}
    return col.map(lambda x : val[x])

for i in [list(i)[0] for i in colonnes_str]:
    df[i]=vectorisation(df[i])

In [13]:
df

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,0,1,0,1,0,135000.0,568800.0,20560.5,450000.0,6,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100005,0,0,0,1,0,99000.0,222768.0,17370.0,180000.0,6,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
100013,0,0,1,1,0,202500.0,663264.0,69777.0,630000.0,0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000
100028,0,1,0,1,2,315000.0,1575000.0,49018.5,1575000.0,6,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
100038,0,0,1,0,1,180000.0,625500.0,32067.0,625500.0,6,...,0,0,0,0,0.001817,0.001371,0.003506,0.009689,0.556172,1.899255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,0,1,0,1,0,121500.0,412560.0,17473.5,270000.0,6,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
456222,0,1,0,0,2,157500.0,622413.0,31909.5,495000.0,6,...,0,0,0,0,0.001817,0.001371,0.003506,0.009689,0.556172,1.899255
456223,0,1,1,1,1,202500.0,315000.0,33205.5,315000.0,6,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000
456224,0,0,0,0,0,225000.0,450000.0,25128.0,450000.0,4,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
456250,0,1,1,0,0,135000.0,312768.0,24709.5,270000.0,6,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000

In [14]:
df['OCCUPATION_TYPE'].value_counts()

2     15605
3      8655
6      5072
10     4361
4      3574
13     2773
17     1854
14     1628
8      1316
5       915
16      894
7       656
12      455
9       272
1       213
15      178
18      138
0       104
11       81
Name: OCCUPATION_TYPE, dtype: int64

In [15]:
colonnes=[colonne for colonne in df]
list(map(lambda x : {x : list(set(df[x].map(lambda x : str(type(x)))))} , colonnes))

[{'NAME_CONTRACT_TYPE': ["<class 'int'>"]},
 {'CODE_GENDER': ["<class 'int'>"]},
 {'FLAG_OWN_CAR': ["<class 'int'>"]},
 {'FLAG_OWN_REALTY': ["<class 'int'>"]},
 {'CNT_CHILDREN': ["<class 'int'>"]},
 {'AMT_INCOME_TOTAL': ["<class 'float'>"]},
 {'AMT_CREDIT': ["<class 'float'>"]},
 {'AMT_ANNUITY': ["<class 'float'>"]},
 {'AMT_GOODS_PRICE': ["<class 'float'>"]},
 {'NAME_TYPE_SUITE': ["<class 'int'>"]},
 {'NAME_INCOME_TYPE': ["<class 'int'>"]},
 {'NAME_EDUCATION_TYPE': ["<class 'int'>"]},
 {'NAME_FAMILY_STATUS': ["<class 'int'>"]},
 {'NAME_HOUSING_TYPE': ["<class 'int'>"]},
 {'REGION_POPULATION_RELATIVE': ["<class 'float'>"]},
 {'DAYS_BIRTH': ["<class 'int'>"]},
 {'DAYS_EMPLOYED': ["<class 'int'>"]},
 {'DAYS_REGISTRATION': ["<class 'float'>"]},
 {'DAYS_ID_PUBLISH': ["<class 'int'>"]},
 {'OWN_CAR_AGE': ["<class 'float'>"]},
 {'FLAG_MOBIL': ["<class 'int'>"]},
 {'FLAG_EMP_PHONE': ["<class 'int'>"]},
 {'FLAG_WORK_PHONE': ["<class 'int'>"]},
 {'FLAG_CONT_MOBILE': ["<class 'int'>"]},
 {'FLAG_PHONE': ["<class 'int'>"]},
 {'FLAG_EMAIL': ["<class 'int'>"]},
 {'OCCUPATION_TYPE': ["<class 'int'>"]},
 {'CNT_FAM_MEMBERS': ["<class 'float'>"]},
 {'REGION_RATING_CLIENT': ["<class 'int'>"]},
 {'REGION_RATING_CLIENT_W_CITY': ["<class 'int'>"]},
 {'WEEKDAY_APPR_PROCESS_START': ["<class 'int'>"]},
 {'HOUR_APPR_PROCESS_START': ["<class 'int'>"]},
 {'REG_REGION_NOT_LIVE_REGION': ["<class 'int'>"]},
 {'REG_REGION_NOT_WORK_REGION': ["<class 'int'>"]},
 {'LIVE_REGION_NOT_WORK_REGION': ["<class 'int'>"]},
 {'REG_CITY_NOT_LIVE_CITY': ["<class 'int'>"]},
 {'REG_CITY_NOT_WORK_CITY': ["<class 'int'>"]},
 {'LIVE_CITY_NOT_WORK_CITY': ["<class 'int'>"]},
 {'ORGANIZATION_TYPE': ["<class 'int'>"]},
 {'EXT_SOURCE_1': ["<class 'float'>"]},
 {'EXT_SOURCE_2': ["<class 'float'>"]},
 {'EXT_SOURCE_3': ["<class 'float'>"]},
 {'APARTMENTS_AVG': ["<class 'float'>"]},
 {'BASEMENTAREA_AVG': ["<class 'float'>"]},
 {'YEARS_BEGINEXPLUATATION_AVG': ["<class 'float'>"]},
 {'YEARS_BUILD_AVG': ["<class 'float'>"]},
 {'COMMONAREA_AVG': ["<class 'float'>"]},
 {'ELEVATORS_AVG': ["<class 'float'>"]},
 {'ENTRANCES_AVG': ["<class 'float'>"]},
 {'FLOORSMAX_AVG': ["<class 'float'>"]},
 {'FLOORSMIN_AVG': ["<class 'float'>"]},
 {'LANDAREA_AVG': ["<class 'float'>"]},
 {'LIVINGAPARTMENTS_AVG': ["<class 'float'>"]},
 {'LIVINGAREA_AVG': ["<class 'float'>"]},
 {'NONLIVINGAPARTMENTS_AVG': ["<class 'float'>"]},
 {'NONLIVINGAREA_AVG': ["<class 'float'>"]},
 {'APARTMENTS_MODE': ["<class 'float'>"]},
 {'BASEMENTAREA_MODE': ["<class 'float'>"]},
 {'YEARS_BEGINEXPLUATATION_MODE': ["<class 'float'>"]},
 {'YEARS_BUILD_MODE': ["<class 'float'>"]},
 {'COMMONAREA_MODE': ["<class 'float'>"]},
 {'ELEVATORS_MODE': ["<class 'float'>"]},
 {'ENTRANCES_MODE': ["<class 'float'>"]},
 {'FLOORSMAX_MODE': ["<class 'float'>"]},
 {'FLOORSMIN_MODE': ["<class 'float'>"]},
 {'LANDAREA_MODE': ["<class 'float'>"]},
 {'LIVINGAPARTMENTS_MODE': ["<class 'float'>"]},
 {'LIVINGAREA_MODE': ["<class 'float'>"]},
 {'NONLIVINGAPARTMENTS_MODE': ["<class 'float'>"]},
 {'NONLIVINGAREA_MODE': ["<class 'float'>"]},
 {'APARTMENTS_MEDI': ["<class 'float'>"]},
 {'BASEMENTAREA_MEDI': ["<class 'float'>"]},
 {'YEARS_BEGINEXPLUATATION_MEDI': ["<class 'float'>"]},
 {'YEARS_BUILD_MEDI': ["<class 'float'>"]},
 {'COMMONAREA_MEDI': ["<class 'float'>"]},
 {'ELEVATORS_MEDI': ["<class 'float'>"]},
 {'ENTRANCES_MEDI': ["<class 'float'>"]},
 {'FLOORSMAX_MEDI': ["<class 'float'>"]},
 {'FLOORSMIN_MEDI': ["<class 'float'>"]},
 {'LANDAREA_MEDI': ["<class 'float'>"]},
 {'LIVINGAPARTMENTS_MEDI': ["<class 'float'>"]},
 {'LIVINGAREA_MEDI': ["<class 'float'>"]},
 {'NONLIVINGAPARTMENTS_MEDI': ["<class 'float'>"]},
 {'NONLIVINGAREA_MEDI': ["<class 'float'>"]},
 {'FONDKAPREMONT_MODE': ["<class 'int'>"]},
 {'HOUSETYPE_MODE': ["<class 'int'>"]},
 {'TOTALAREA_MODE': ["<class 'float'>"]},
 {'WALLSMATERIAL_MODE': ["<class 'int'>"]},
 {'EMERGENCYSTATE_MODE': ["<class 'int'>"]},
 {'OBS_30_CNT_SOCIAL_CIRCLE': ["<class 'float'>"]},
 {'DEF_30_CNT_SOCIAL_CIRCLE': ["<class 'float'>"]},
 {'OBS_60_CNT_SOCIAL_CIRCLE': ["<class 'float'>"]},
 {'DEF_60_CNT_SOCIAL_CIRCLE': ["<class 'float'>"]},
 {'DAYS_LAST_PHONE_CHANGE': ["<class 'float'>"]},
 {'FLAG_DOCUMENT_2': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_3': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_4': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_5': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_6': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_7': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_8': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_9': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_10': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_11': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_12': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_13': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_14': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_15': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_16': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_17': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_18': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_19': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_20': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_21': ["<class 'int'>"]},
 {'AMT_REQ_CREDIT_BUREAU_HOUR': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_DAY': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_WEEK': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_MON': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_QRT': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_YEAR': ["<class 'float'>"]}]

In [16]:
# harmonise les types
df_test = df.applymap(float)

# USE TRAIN DATASET

In [17]:
df = pd.concat([df_train])
df_safe = pd.concat([df_train])

In [18]:
# comparaison entre df et df sans les nan

df_salvage_drop=df.dropna()
' '.join(['ratio:' , str(df_salvage_drop.shape[0]) ,'/' , str(df.shape[0]), '=' , str(round(df_salvage_drop.shape[0]/df.shape[0]*100,2)), '%'])

'ratio: 8602 / 307511 = 2.8 %'

In [19]:
# liste les valeurs par default de chaque clmn

def one_line_try(serie):
    try:
        return float(serie.mean())
    except:
        return float(np.nan)
    
default_value_per_clmn = {clmn : one_line_try(df_salvage_drop[clmn]) for clmn in df_salvage_drop}

default_value_per_clmn

{'TARGET': 0.06114857009997675,
 'NAME_CONTRACT_TYPE': nan,
 'CODE_GENDER': nan,
 'FLAG_OWN_CAR': nan,
 'FLAG_OWN_REALTY': nan,
 'CNT_CHILDREN': 0.6025342943501512,
 'AMT_INCOME_TOTAL': 222872.41443850266,
 'AMT_CREDIT': 699998.7016391536,
 'AMT_ANNUITY': 31558.948325970705,
 'AMT_GOODS_PRICE': 633833.7415717276,
 'NAME_TYPE_SUITE': nan,
 'NAME_INCOME_TYPE': nan,
 'NAME_EDUCATION_TYPE': nan,
 'NAME_FAMILY_STATUS': nan,
 'NAME_HOUSING_TYPE': nan,
 'REGION_POPULATION_RELATIVE': 0.023542625668449196,
 'DAYS_BIRTH': -14189.009416414787,
 'DAYS_EMPLOYED': -2299.091374099047,
 'DAYS_REGISTRATION': -4276.979190885841,
 'DAYS_ID_PUBLISH': -2975.926296210184,
 'OWN_CAR_AGE': 11.224133922343642,
 'FLAG_MOBIL': 1.0,
 'FLAG_EMP_PHONE': 0.9997674959311788,
 'FLAG_WORK_PHONE': 0.21111369448965356,
 'FLAG_CONT_MOBILE': 0.9968611950709138,
 'FLAG_PHONE': 0.3093466635666124,
 'FLAG_EMAIL': 0.12566844919786097,
 'OCCUPATION_TYPE': nan,
 'CNT_FAM_MEMBERS': 2.401418274819809,
 'REGION_RATING_CLIENT': 2.0048825854452454,
 'REGION_RATING_CLIENT_W_CITY': 1.9480353406184607,
 'WEEKDAY_APPR_PROCESS_START': nan,
 'HOUR_APPR_PROCESS_START': 12.203324808184144,
 'REG_REGION_NOT_LIVE_REGION': 0.013717740060451058,
 'REG_REGION_NOT_WORK_REGION': 0.05963729365263892,
 'LIVE_REGION_NOT_WORK_REGION': 0.052429667519181586,
 'REG_CITY_NOT_LIVE_CITY': 0.0372006510113927,
 'REG_CITY_NOT_WORK_CITY': 0.1482213438735178,
 'LIVE_CITY_NOT_WORK_CITY': 0.13357358753778192,
 'ORGANIZATION_TYPE': nan,
 'EXT_SOURCE_1': 0.49598868293576287,
 'EXT_SOURCE_2': 0.5528328861630395,
 'EXT_SOURCE_3': 0.49580291768738227,
 'APARTMENTS_AVG': 0.1293115787026273,
 'BASEMENTAREA_AVG': 0.09209819809346663,
 'YEARS_BEGINEXPLUATATION_AVG': 0.9826107533131829,
 'YEARS_BUILD_AVG': 0.7653135549872122,
 'COMMONAREA_AVG': 0.04722638921181121,
 'ELEVATORS_AVG': 0.08777023947919088,
 'ENTRANCES_AVG': 0.15538713089979075,
 'FLOORSMAX_AVG': 0.24917583120204603,
 'FLOORSMIN_AVG': 0.24273310857940017,
 'LANDAREA_AVG': 0.06865731225296443,
 'LIVINGAPARTMENTS_AVG': 0.10485222041385725,
 'LIVINGAREA_AVG': 0.12186063706114858,
 'NONLIVINGAPARTMENTS_AVG': 0.009237851662404093,
 'NONLIVINGAREA_AVG': 0.026453545687049527,
 'APARTMENTS_MODE': 0.1246346547314578,
 'BASEMENTAREA_MODE': 0.08999890723087653,
 'YEARS_BEGINEXPLUATATION_MODE': 0.9819485119739594,
 'YEARS_BUILD_MODE': 0.7718928272494768,
 'COMMONAREA_MODE': 0.044887456405487094,
 'ELEVATORS_MODE': 0.08206162520344105,
 'ENTRANCES_MODE': 0.149767949314113,
 'FLOORSMAX_MODE': 0.24402009997674964,
 'FLOORSMIN_MODE': 0.23823471285747502,
 'LANDAREA_MODE': 0.06678871192745872,
 'LIVINGAPARTMENTS_MODE': 0.10936240409207161,
 'LIVINGAREA_MODE': 0.11872605208091142,
 'NONLIVINGAPARTMENTS_MODE': 0.00822490118577075,
 'NONLIVINGAREA_MODE': 0.02372012322715648,
 'APARTMENTS_MEDI': 0.12953923506161358,
 'BASEMENTAREA_MEDI': 0.0912545570797489,
 'YEARS_BEGINEXPLUATATION_MEDI': 0.9827495582422692,
 'YEARS_BUILD_MEDI': 0.768583213206231,
 'COMMONAREA_MEDI': 0.04722226226458963,
 'ELEVATORS_MEDI': 0.08661474075796327,
 'ENTRANCES_MEDI': 0.15466979772146014,
 'FLOORSMAX_MEDI': 0.2488514415252267,
 'FLOORSMIN_MEDI': 0.24239078121367125,
 'LANDAREA_MEDI': 0.06946113694489654,
 'LIVINGAPARTMENTS_MEDI': 0.10595813764240873,
 'LIVINGAREA_MEDI': 0.12321779818646826,
 'NONLIVINGAPARTMENTS_MEDI': 0.008916624040920716,
 'NONLIVINGAREA_MEDI': 0.02602297140199954,
 'FONDKAPREMONT_MODE': nan,
 'HOUSETYPE_MODE': nan,
 'TOTALAREA_MODE': 0.11924478028365497,
 'WALLSMATERIAL_MODE': nan,
 'EMERGENCYSTATE_MODE': nan,
 'OBS_30_CNT_SOCIAL_CIRCLE': 1.368518949081609,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0.1272959776796094,
 'OBS_60_CNT_SOCIAL_CIRCLE': 1.3523599162985351,
 'DEF_60_CNT_SOCIAL_CIRCLE': 0.08765403394559405,
 'DAYS_LAST_PHONE_CHANGE': -1108.502208788654,
 'FLAG_DOCUMENT_2': 0.0,
 'FLAG_DOCUMENT_3': 0.6535689374564055,
 'FLAG_DOCUMENT_4': 0.0,
 'FLAG_DOCUMENT_5': 0.013485235991629853,
 'FLAG_DOCUMENT_6': 0.0046500813764240876,
 'FLAG_DOCUMENT_7': 0.00034875610323180655,
 'FLAG_DOCUMENT_8': 0.20413857242501743,
 'FLAG_DOCUMENT_9': 0.0046500813764240876,
 'FLAG_DOCUMENT_10': 0.00011625203441060219,
 'FLAG_DOCUMENT_11': 0.007091374099046734,
 'FLAG_DOCUMENT_12': 0.00011625203441060219,
 'FLAG_DOCUMENT_13': 0.014764008370146478,
 'FLAG_DOCUMENT_14': 0.004998837479655894,
 'FLAG_DOCUMENT_15': 0.004301325273192281,
 'FLAG_DOCUMENT_16': 0.010346431062543595,
 'FLAG_DOCUMENT_17': 0.00023250406882120437,
 'FLAG_DOCUMENT_18': 0.009997674959311788,
 'FLAG_DOCUMENT_19': 0.0005812601720530109,
 'FLAG_DOCUMENT_20': 0.0010462683096954196,
 'FLAG_DOCUMENT_21': 0.00023250406882120437,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0.005812601720530109,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0.005928853754940711,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0.03906068356196234,
 'AMT_REQ_CREDIT_BUREAU_MON': 0.3689839572192513,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0.25807951639153687,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 1.7576145082538945}

In [20]:
# applique ces valeur aux clmn

for clmn in df:
    df[clmn]= [A if str(A) != 'nan' else default_value_per_clmn[clmn] for A in df[clmn]]
df_cute_drop = df.dropna()
' '.join(['ratio:' , str(df_cute_drop.shape[0]) ,'/' , str(df.shape[0]), '=' ,str(round(df_cute_drop.shape[0]/df.shape[0]*100,2)), '%'])

'ratio: 65789 / 307511 = 21.39 %'

In [21]:
del df_cute_drop
del df_salvage_drop
df = df.dropna()

In [22]:
colonnes=[colonne for colonne in df]
types_colonnes=list(map(lambda x : {x : list(set(df[x].map(lambda x : str(type(x)))))} , colonnes))
colonnes_str=list(filter(lambda x : "<class 'str'>" in x[list(x)[0]], types_colonnes))

def vectorisation(col):
    voc=list(set(list(col)))
    val={voc[i]:i for i in range(len(voc))}
    return col.map(lambda x : val[x])



for i in [list(i)[0] for i in colonnes_str]:
    df[i]=vectorisation(df[i])

In [23]:
# liste les valeurs par default de chaque clmn

def one_line_try(serie):
    try:
        return float(serie.mean())
    except:
        return float(np.nan)
    
default_value_per_clmn = {clmn : one_line_try(df[clmn]) for clmn in df}

df = df_safe


    
for clmn in df:
    df[clmn]= [A if str(A) != 'nan' else default_value_per_clmn[clmn] for A in df[clmn]]
df_cute_drop = df.dropna()
' '.join(['ratio:' , str(df_cute_drop.shape[0]) ,'/' , str(df.shape[0]), '=' ,str(round(df_cute_drop.shape[0]/df.shape[0]*100,2)), '%'])

'ratio: 307511 / 307511 = 100.0 %'

In [24]:
default_value_per_clmn

{'TARGET': 0.07580294578120962,
 'NAME_CONTRACT_TYPE': 0.11144720241985742,
 'CODE_GENDER': 1.6236452902460898,
 'FLAG_OWN_CAR': 0.369849062913253,
 'FLAG_OWN_REALTY': 0.6933377920321027,
 'CNT_CHILDREN': 0.4726930033896244,
 'AMT_INCOME_TOTAL': 189674.64757330253,
 'AMT_CREDIT': 639970.0816397878,
 'AMT_ANNUITY': 28970.78209647476,
 'AMT_GOODS_PRICE': 574579.8812187448,
 'NAME_TYPE_SUITE': 4.617185243733755,
 'NAME_INCOME_TYPE': 2.4780586420222224,
 'NAME_EDUCATION_TYPE': 2.724422015838514,
 'NAME_FAMILY_STATUS': 2.712170727629239,
 'NAME_HOUSING_TYPE': 3.801851373329888,
 'REGION_POPULATION_RELATIVE': 0.02284704705953883,
 'DAYS_BIRTH': -14919.246408974144,
 'DAYS_EMPLOYED': -2464.831141984222,
 'DAYS_REGISTRATION': -4857.909012144887,
 'DAYS_ID_PUBLISH': -2830.82006110444,
 'OWN_CAR_AGE': 11.279635197656148,
 'FLAG_MOBIL': 1.0,
 'FLAG_EMP_PHONE': 0.9999391995622369,
 'FLAG_WORK_PHONE': 0.21102311936645943,
 'FLAG_CONT_MOBILE': 0.9974615817233884,
 'FLAG_PHONE': 0.301813373056286,
 'FLAG_EMAIL': 0.07403973308607822,
 'OCCUPATION_TYPE': 9.930231497666783,
 'CNT_FAM_MEMBERS': 2.2041982702275456,
 'REGION_RATING_CLIENT': 1.9755126236908906,
 'REGION_RATING_CLIENT_W_CITY': 1.925367462645731,
 'WEEKDAY_APPR_PROCESS_START': 3.4544984723890013,
 'HOUR_APPR_PROCESS_START': 12.321117512046087,
 'REG_REGION_NOT_LIVE_REGION': 0.012996093571873717,
 'REG_REGION_NOT_WORK_REGION': 0.055860402194895804,
 'LIVE_REGION_NOT_WORK_REGION': 0.04792594506680448,
 'REG_CITY_NOT_LIVE_CITY': 0.03540105488759519,
 'REG_CITY_NOT_WORK_CITY': 0.13192174983659882,
 'LIVE_CITY_NOT_WORK_CITY': 0.11384881971150192,
 'ORGANIZATION_TYPE': 29.793263311495842,
 'EXT_SOURCE_1': 0.4986499015124291,
 'EXT_SOURCE_2': 0.5363487763945468,
 'EXT_SOURCE_3': 0.5019286248304307,
 'APARTMENTS_AVG': 0.12427318218927864,
 'BASEMENTAREA_AVG': 0.08861026264474434,
 'YEARS_BEGINEXPLUATATION_AVG': 0.9815055427124859,
 'YEARS_BUILD_AVG': 0.7536070797522528,
 'COMMONAREA_AVG': 0.04487829028483398,
 'ELEVATORS_AVG': 0.08069578646923013,
 'ENTRANCES_AVG': 0.1530640616309624,
 'FLOORSMAX_AVG': 0.23796203676257263,
 'FLOORSMIN_AVG': 0.23332587825771153,
 'LANDAREA_AVG': 0.06602125925156462,
 'LIVINGAPARTMENTS_AVG': 0.10110678121234949,
 'LIVINGAREA_AVG': 0.11458295640248488,
 'NONLIVINGAPARTMENTS_AVG': 0.008678504996540324,
 'NONLIVINGAREA_AVG': 0.025813980150282752,
 'APARTMENTS_MODE': 0.11996685940547977,
 'BASEMENTAREA_MODE': 0.08703178123205202,
 'YEARS_BEGINEXPLUATATION_MODE': 0.9807692932320896,
 'YEARS_BUILD_MODE': 0.7606221029578301,
 'COMMONAREA_MODE': 0.042833615207600303,
 'ELEVATORS_MODE': 0.07534774663113218,
 'ENTRANCES_MODE': 0.1476511192548106,
 'FLOORSMAX_MODE': 0.23310846166378846,
 'FLOORSMIN_MODE': 0.22931505558470805,
 'LANDAREA_MODE': 0.06414422171515058,
 'LIVINGAPARTMENTS_MODE': 0.10591371257852596,
 'LIVINGAREA_MODE': 0.11202448476567883,
 'NONLIVINGAPARTMENTS_MODE': 0.00790487126859092,
 'NONLIVINGAREA_MODE': 0.02391336182690034,
 'APARTMENTS_MEDI': 0.12456892070394819,
 'BASEMENTAREA_MEDI': 0.08804130240902579,
 'YEARS_BEGINEXPLUATATION_MEDI': 0.9815032241727514,
 'YEARS_BUILD_MEDI': 0.7568955400581745,
 'COMMONAREA_MEDI': 0.04486456024667986,
 'ELEVATORS_MEDI': 0.07968987479290647,
 'ENTRANCES_MEDI': 0.15243954470579604,
 'FLOORSMAX_MEDI': 0.23751465994964369,
 'FLOORSMIN_MEDI': 0.2331198682918822,
 'LANDAREA_MEDI': 0.06679595679880804,
 'LIVINGAPARTMENTS_MEDI': 0.1022770477333161,
 'LIVINGAREA_MEDI': 0.11580783038249826,
 'NONLIVINGAPARTMENTS_MEDI': 0.008488461200398905,
 'NONLIVINGAREA_MEDI': 0.02550764432199099,
 'FONDKAPREMONT_MODE': 1.9491100335922418,
 'HOUSETYPE_MODE': 1.980939062761252,
 'TOTALAREA_MODE': 0.11188509584174376,
 'WALLSMATERIAL_MODE': 1.4247366581039385,
 'EMERGENCYSTATE_MODE': 0.007691255377038715,
 'OBS_30_CNT_SOCIAL_CIRCLE': 1.3764743138701165,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0.13509093024595561,
 'OBS_60_CNT_SOCIAL_CIRCLE': 1.3604628362996383,
 'DEF_60_CNT_SOCIAL_CIRCLE': 0.0941305422365328,
 'DAYS_LAST_PHONE_CHANGE': -1009.8605389958808,
 'FLAG_DOCUMENT_2': 7.600054720393987e-05,
 'FLAG_DOCUMENT_3': 0.7371445074404536,
 'FLAG_DOCUMENT_4': 4.560032832236392e-05,
 'FLAG_DOCUMENT_5': 0.0160513155694721,
 'FLAG_DOCUMENT_6': 0.0092264664305583,
 'FLAG_DOCUMENT_7': 0.0001824013132894557,
 'FLAG_DOCUMENT_8': 0.11045919530620621,
 'FLAG_DOCUMENT_9': 0.0052592378665126385,
 'FLAG_DOCUMENT_10': 1.5200109440787973e-05,
 'FLAG_DOCUMENT_11': 0.0064904467312164645,
 'FLAG_DOCUMENT_12': 1.5200109440787973e-05,
 'FLAG_DOCUMENT_13': 0.005122436881545547,
 'FLAG_DOCUMENT_14': 0.004879235130492939,
 'FLAG_DOCUMENT_15': 0.001656811929045889,
 'FLAG_DOCUMENT_16': 0.013816899481676269,
 'FLAG_DOCUMENT_17': 0.00042560306434206324,
 'FLAG_DOCUMENT_18': 0.010868078250163402,
 'FLAG_DOCUMENT_19': 0.0006536047059538828,
 'FLAG_DOCUMENT_20': 0.0008816063475657025,
 'FLAG_DOCUMENT_21': 0.00041040295490127527,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0.0065980950301158855,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0.007433213993449052,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0.034692601146877056,
 'AMT_REQ_CREDIT_BUREAU_MON': 0.3229988304044132,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0.26097742909561544,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 1.8269570523469965}

In [25]:
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,0.006598,0.007433,0.034693,0.322999,0.260977,1.826957
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,...,0,0,0,0,0.006598,0.007433,0.034693,0.322999,0.260977,1.826957
456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,...,0,0,0,0,0.006598,0.007433,0.034693,0.322999,0.260977,1.826957
456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,...,0,0,0,0,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000
456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,...,0,0,0,0,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000

In [26]:
del df_cute_drop
df = df.dropna()

colonnes=[colonne for colonne in df]
types_colonnes=list(map(lambda x : {x : list(set(df[x].map(lambda x : str(type(x)))))} , colonnes))
colonnes_str=list(filter(lambda x : "<class 'str'>" in x[list(x)[0]], types_colonnes))

def vectorisation(col):
    voc=list(set(list(col)))
    val={voc[i]:i for i in range(len(voc))}
    return col.map(lambda x : val[x])

for i in [list(i)[0] for i in colonnes_str]:
    df[i]=vectorisation(df[i])

In [27]:
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
100003,0,0,2,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100006,0,0,2,0,1,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,0.006598,0.007433,0.034693,0.322999,0.260977,1.826957
100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,0,0,1,0,0,0,157500.0,254700.0,27558.0,225000.0,...,0,0,0,0,0.006598,0.007433,0.034693,0.322999,0.260977,1.826957
456252,0,0,2,0,1,0,72000.0,269550.0,12001.5,225000.0,...,0,0,0,0,0.006598,0.007433,0.034693,0.322999,0.260977,1.826957
456253,0,0,2,0,1,0,153000.0,677664.0,29979.0,585000.0,...,0,0,0,0,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000
456254,1,0,2,0,1,0,171000.0,370107.0,20205.0,319500.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
456255,0,0,2,0,0,0,157500.0,675000.0,49117.5,675000.0,...,0,0,0,0,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000

In [28]:
df_true = df[df['TARGET'] == 1]
df_false = df[df['TARGET'] != 1]
maxi_val = min([df_false.shape[0], df_true.shape[0]])
maxsize = maxi_val*2
print('whith parity: {} / {}'.format(maxsize,df.shape[0],round(maxsize/df.shape[0],2)))
df = pd.concat([df_false.iloc[:maxi_val],df_true.iloc[:maxi_val]])

whith parity: 49650 / 307511

In [29]:
df['OCCUPATION_TYPE'].value_counts()

2     14178
3     10197
6      5649
10     4027
13     3555
4      3027
17     1629
14     1287
8      1280
5      1271
16     1081
7       793
9       531
12      407
15      250
1       206
18      127
0        78
11       77
Name: OCCUPATION_TYPE, dtype: int64

In [30]:
colonnes=[colonne for colonne in df]
list(map(lambda x : {x : list(set(df[x].map(lambda x : str(type(x)))))} , colonnes))

[{'TARGET': ["<class 'int'>"]},
 {'NAME_CONTRACT_TYPE': ["<class 'int'>"]},
 {'CODE_GENDER': ["<class 'int'>"]},
 {'FLAG_OWN_CAR': ["<class 'int'>"]},
 {'FLAG_OWN_REALTY': ["<class 'int'>"]},
 {'CNT_CHILDREN': ["<class 'int'>"]},
 {'AMT_INCOME_TOTAL': ["<class 'float'>"]},
 {'AMT_CREDIT': ["<class 'float'>"]},
 {'AMT_ANNUITY': ["<class 'float'>"]},
 {'AMT_GOODS_PRICE': ["<class 'float'>"]},
 {'NAME_TYPE_SUITE': ["<class 'int'>"]},
 {'NAME_INCOME_TYPE': ["<class 'int'>"]},
 {'NAME_EDUCATION_TYPE': ["<class 'int'>"]},
 {'NAME_FAMILY_STATUS': ["<class 'int'>"]},
 {'NAME_HOUSING_TYPE': ["<class 'int'>"]},
 {'REGION_POPULATION_RELATIVE': ["<class 'float'>"]},
 {'DAYS_BIRTH': ["<class 'int'>"]},
 {'DAYS_EMPLOYED': ["<class 'int'>"]},
 {'DAYS_REGISTRATION': ["<class 'float'>"]},
 {'DAYS_ID_PUBLISH': ["<class 'int'>"]},
 {'OWN_CAR_AGE': ["<class 'float'>"]},
 {'FLAG_MOBIL': ["<class 'int'>"]},
 {'FLAG_EMP_PHONE': ["<class 'int'>"]},
 {'FLAG_WORK_PHONE': ["<class 'int'>"]},
 {'FLAG_CONT_MOBILE': ["<class 'int'>"]},
 {'FLAG_PHONE': ["<class 'int'>"]},
 {'FLAG_EMAIL': ["<class 'int'>"]},
 {'OCCUPATION_TYPE': ["<class 'int'>"]},
 {'CNT_FAM_MEMBERS': ["<class 'float'>"]},
 {'REGION_RATING_CLIENT': ["<class 'int'>"]},
 {'REGION_RATING_CLIENT_W_CITY': ["<class 'int'>"]},
 {'WEEKDAY_APPR_PROCESS_START': ["<class 'int'>"]},
 {'HOUR_APPR_PROCESS_START': ["<class 'int'>"]},
 {'REG_REGION_NOT_LIVE_REGION': ["<class 'int'>"]},
 {'REG_REGION_NOT_WORK_REGION': ["<class 'int'>"]},
 {'LIVE_REGION_NOT_WORK_REGION': ["<class 'int'>"]},
 {'REG_CITY_NOT_LIVE_CITY': ["<class 'int'>"]},
 {'REG_CITY_NOT_WORK_CITY': ["<class 'int'>"]},
 {'LIVE_CITY_NOT_WORK_CITY': ["<class 'int'>"]},
 {'ORGANIZATION_TYPE': ["<class 'int'>"]},
 {'EXT_SOURCE_1': ["<class 'float'>"]},
 {'EXT_SOURCE_2': ["<class 'float'>"]},
 {'EXT_SOURCE_3': ["<class 'float'>"]},
 {'APARTMENTS_AVG': ["<class 'float'>"]},
 {'BASEMENTAREA_AVG': ["<class 'float'>"]},
 {'YEARS_BEGINEXPLUATATION_AVG': ["<class 'float'>"]},
 {'YEARS_BUILD_AVG': ["<class 'float'>"]},
 {'COMMONAREA_AVG': ["<class 'float'>"]},
 {'ELEVATORS_AVG': ["<class 'float'>"]},
 {'ENTRANCES_AVG': ["<class 'float'>"]},
 {'FLOORSMAX_AVG': ["<class 'float'>"]},
 {'FLOORSMIN_AVG': ["<class 'float'>"]},
 {'LANDAREA_AVG': ["<class 'float'>"]},
 {'LIVINGAPARTMENTS_AVG': ["<class 'float'>"]},
 {'LIVINGAREA_AVG': ["<class 'float'>"]},
 {'NONLIVINGAPARTMENTS_AVG': ["<class 'float'>"]},
 {'NONLIVINGAREA_AVG': ["<class 'float'>"]},
 {'APARTMENTS_MODE': ["<class 'float'>"]},
 {'BASEMENTAREA_MODE': ["<class 'float'>"]},
 {'YEARS_BEGINEXPLUATATION_MODE': ["<class 'float'>"]},
 {'YEARS_BUILD_MODE': ["<class 'float'>"]},
 {'COMMONAREA_MODE': ["<class 'float'>"]},
 {'ELEVATORS_MODE': ["<class 'float'>"]},
 {'ENTRANCES_MODE': ["<class 'float'>"]},
 {'FLOORSMAX_MODE': ["<class 'float'>"]},
 {'FLOORSMIN_MODE': ["<class 'float'>"]},
 {'LANDAREA_MODE': ["<class 'float'>"]},
 {'LIVINGAPARTMENTS_MODE': ["<class 'float'>"]},
 {'LIVINGAREA_MODE': ["<class 'float'>"]},
 {'NONLIVINGAPARTMENTS_MODE': ["<class 'float'>"]},
 {'NONLIVINGAREA_MODE': ["<class 'float'>"]},
 {'APARTMENTS_MEDI': ["<class 'float'>"]},
 {'BASEMENTAREA_MEDI': ["<class 'float'>"]},
 {'YEARS_BEGINEXPLUATATION_MEDI': ["<class 'float'>"]},
 {'YEARS_BUILD_MEDI': ["<class 'float'>"]},
 {'COMMONAREA_MEDI': ["<class 'float'>"]},
 {'ELEVATORS_MEDI': ["<class 'float'>"]},
 {'ENTRANCES_MEDI': ["<class 'float'>"]},
 {'FLOORSMAX_MEDI': ["<class 'float'>"]},
 {'FLOORSMIN_MEDI': ["<class 'float'>"]},
 {'LANDAREA_MEDI': ["<class 'float'>"]},
 {'LIVINGAPARTMENTS_MEDI': ["<class 'float'>"]},
 {'LIVINGAREA_MEDI': ["<class 'float'>"]},
 {'NONLIVINGAPARTMENTS_MEDI': ["<class 'float'>"]},
 {'NONLIVINGAREA_MEDI': ["<class 'float'>"]},
 {'FONDKAPREMONT_MODE': ["<class 'int'>"]},
 {'HOUSETYPE_MODE': ["<class 'int'>"]},
 {'TOTALAREA_MODE': ["<class 'float'>"]},
 {'WALLSMATERIAL_MODE': ["<class 'int'>"]},
 {'EMERGENCYSTATE_MODE': ["<class 'int'>"]},
 {'OBS_30_CNT_SOCIAL_CIRCLE': ["<class 'float'>"]},
 {'DEF_30_CNT_SOCIAL_CIRCLE': ["<class 'float'>"]},
 {'OBS_60_CNT_SOCIAL_CIRCLE': ["<class 'float'>"]},
 {'DEF_60_CNT_SOCIAL_CIRCLE': ["<class 'float'>"]},
 {'DAYS_LAST_PHONE_CHANGE': ["<class 'float'>"]},
 {'FLAG_DOCUMENT_2': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_3': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_4': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_5': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_6': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_7': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_8': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_9': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_10': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_11': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_12': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_13': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_14': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_15': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_16': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_17': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_18': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_19': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_20': ["<class 'int'>"]},
 {'FLAG_DOCUMENT_21': ["<class 'int'>"]},
 {'AMT_REQ_CREDIT_BUREAU_HOUR': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_DAY': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_WEEK': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_MON': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_QRT': ["<class 'float'>"]},
 {'AMT_REQ_CREDIT_BUREAU_YEAR': ["<class 'float'>"]}]

In [31]:
# matrice de correlation

total_corr = df.corr()
total_corr

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
TARGET,1.000000,-0.062890,-0.098397,-0.038372,-0.010966,0.036769,-0.003311,-0.061562,-0.025666,-0.079828,...,-0.015011,-0.004168,-0.001697,0.001761,-0.000794,0.003584,0.004744,-0.022171,-0.001456,0.036567
NAME_CONTRACT_TYPE,-0.062890,1.000000,0.029956,-0.001911,0.067331,0.014276,-0.005899,-0.223844,-0.258240,-0.186207,...,0.006782,-0.001136,-0.007093,0.073451,0.000864,-0.002944,-0.012724,-0.013701,-0.020276,-0.046508
CODE_GENDER,-0.098397,0.029956,1.000000,-0.324512,0.032887,-0.020993,-0.026673,-0.003185,-0.076962,-0.000739,...,-0.012477,0.000104,0.001187,-0.029151,-0.004898,-0.001923,0.000757,-0.009032,0.014178,0.014820
FLAG_OWN_CAR,-0.038372,-0.001911,-0.324512,1.000000,0.013717,0.089375,0.031451,0.103055,0.136290,0.106773,...,-0.003520,-0.007790,0.003542,0.004892,0.005989,0.001666,0.003541,0.019142,-0.011640,-0.021796
FLAG_OWN_REALTY,-0.010966,0.067331,0.032887,0.013717,1.000000,0.003666,0.006324,-0.024140,0.004467,-0.031434,...,-0.075569,-0.010782,-0.018875,-0.009356,-0.003178,-0.004066,0.008033,0.000617,0.015123,0.058622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,0.003584,-0.002944,-0.001923,0.001666,-0.004066,-0.008936,0.001198,0.010445,0.007233,0.010796,...,0.003966,0.006746,-0.001797,-0.001470,0.206626,1.000000,0.236766,-0.011059,-0.004360,0.001567
AMT_REQ_CREDIT_BUREAU_WEEK,0.004744,-0.012724,0.000757,0.003541,0.008033,-0.005406,0.001141,0.010079,0.027307,0.010571,...,-0.004660,-0.003828,0.004817,0.001215,0.011761,0.236766,1.000000,-0.017111,-0.015773,0.016946
AMT_REQ_CREDIT_BUREAU_MON,-0.022171,-0.013701,-0.009032,0.019142,0.000617,-0.014545,0.009963,0.049359,0.037418,0.051631,...,0.006660,-0.002432,-0.002507,-0.005039,-0.002078,-0.011059,-0.017111,1.000000,-0.006886,-0.006683
AMT_REQ_CREDIT_BUREAU_QRT,-0.001456,-0.020276,0.014178,-0.011640,0.015123,-0.017412,-0.000305,0.002636,-0.000259,0.003903,...,-0.002583,-0.000757,-0.000451,0.000396,0.003545,-0.004360,-0.015773,-0.006886,1.000000,0.100875
AMT_REQ_CREDIT_BUREAU_YEAR,0.036567,-0.046508,0.014820,-0.021796,0.058622,-0.032966,0.003266,-0.036274,-0.008510,-0.039606,...,-0.041911,-0.013703,-0.014129,-0.009024,0.000701,0.001567,0.016946,-0.006683,0.100875,1.000000

In [32]:
# liste les meuilleurs correlations entre les clmns

def get_coor(mat, corr = .75):
    clmn_lst = mat.columns
    exeption = [] 
    val = 0
    for clmn in mat:
        cmd = lambda idx, val: [print("{} -> {} : ".format(clmn, clmn_lst[idx]).ljust(80, ' ') + str(val)),  exeption.append(val)]
        [cmd(idx, val) for idx, val in enumerate(mat[clmn]) if val > corr and val != 1 and val not in exeption]

        

get_coor(total_corr, .99)

APARTMENTS_AVG -> APARTMENTS_MEDI :                                             0.9953128281549072
BASEMENTAREA_AVG -> BASEMENTAREA_MEDI :                                         0.9951627302008851
YEARS_BEGINEXPLUATATION_AVG -> YEARS_BEGINEXPLUATATION_MEDI :                   0.9947460176621639
YEARS_BUILD_AVG -> YEARS_BUILD_MEDI :                                           0.9982955625414173
COMMONAREA_AVG -> COMMONAREA_MEDI :                                             0.9941763406950069
ELEVATORS_AVG -> ELEVATORS_MEDI :                                               0.9957400738014422
ENTRANCES_AVG -> ENTRANCES_MEDI :                                               0.9967026252646868
FLOORSMAX_AVG -> FLOORSMAX_MEDI :                                               0.997188726862192
FLOORSMIN_AVG -> FLOORSMIN_MEDI :                                               0.9972034449404995
LIVINGAPARTMENTS_AVG -> LIVINGAPARTMENTS_MEDI :                                 0.9978363346144896
LIVINGAREA_AVG -> LIVINGAREA_MEDI :                                             0.994669333579384
NONLIVINGAPARTMENTS_AVG -> NONLIVINGAPARTMENTS_MEDI :                           0.9972319338393018
NONLIVINGAREA_AVG -> NONLIVINGAREA_MEDI :                                       0.9941338275048318
OBS_30_CNT_SOCIAL_CIRCLE -> OBS_60_CNT_SOCIAL_CIRCLE :                          0.998337249540514

In [33]:
# liste les meuilleurs corelations par rapport a une clmn

def get_clmn_corr(mat, clmn, corr = 0.1):
    serie = mat[clmn]
    clmn_lst = list(serie.keys())
    cmd = lambda idx, val: print("{} -> {} : ".format(clmn, clmn_lst[idx]).ljust(80, ' ') + str(val))
    [cmd(idx, val) for idx, val in enumerate(mat[clmn]) if abs(val) > corr and val != 1]
    
get_clmn_corr(total_corr, 'TARGET', 0.05)

TARGET -> NAME_CONTRACT_TYPE :                                                  -0.06288993877849013
TARGET -> CODE_GENDER :                                                         -0.09839681222336581
TARGET -> AMT_CREDIT :                                                          -0.06156207185055225
TARGET -> AMT_GOODS_PRICE :                                                     -0.07982760004621715
TARGET -> NAME_INCOME_TYPE :                                                    -0.1079564564187021
TARGET -> NAME_EDUCATION_TYPE :                                                 0.11034137841039117
TARGET -> NAME_HOUSING_TYPE :                                                   -0.06135873603953744
TARGET -> REGION_POPULATION_RELATIVE :                                          -0.07003072679905835
TARGET -> DAYS_BIRTH :                                                          0.14522242308079547
TARGET -> DAYS_EMPLOYED :                                                       -0.0870200774025238
TARGET -> DAYS_REGISTRATION :                                                   0.07704647224996941
TARGET -> DAYS_ID_PUBLISH :                                                     0.09055170716374965
TARGET -> FLAG_EMP_PHONE :                                                      0.08912792940706037
TARGET -> REGION_RATING_CLIENT :                                                0.1122176526084168
TARGET -> REGION_RATING_CLIENT_W_CITY :                                         0.11520673873217906
TARGET -> REG_CITY_NOT_LIVE_CITY :                                              0.06582512721324252
TARGET -> REG_CITY_NOT_WORK_CITY :                                              0.08469441237986469
TARGET -> LIVE_CITY_NOT_WORK_CITY :                                             0.05575309268445871
TARGET -> EXT_SOURCE_1 :                                                        -0.1813782954082201
TARGET -> EXT_SOURCE_2 :                                                        -0.27133888607997714
TARGET -> EXT_SOURCE_3 :                                                        -0.2746419348872562
TARGET -> FONDKAPREMONT_MODE :                                                  -0.05296455835119966
TARGET -> HOUSETYPE_MODE :                                                      -0.07625303671719377
TARGET -> EMERGENCYSTATE_MODE :                                                 -0.07312924509204805
TARGET -> DEF_30_CNT_SOCIAL_CIRCLE :                                            0.05534293150055516
TARGET -> DEF_60_CNT_SOCIAL_CIRCLE :                                            0.05403227988416723
TARGET -> DAYS_LAST_PHONE_CHANGE :                                              0.10513609639276289
TARGET -> FLAG_DOCUMENT_3 :                                                     0.08264933790165432
TARGET -> FLAG_DOCUMENT_6 :                                                     -0.05422076967508219

In [34]:
df = df.applymap(float)
df['TARGET'] = df['TARGET'].apply(int)
df_train = df

In [35]:
df_train

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100003,0,0.0,2.0,0.0,0.0,0.0,270000.0,1293502.5,35698.5,1129500.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100004,0,1.0,1.0,1.0,1.0,0.0,67500.0,135000.0,6750.0,135000.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100006,0,0.0,2.0,0.0,1.0,0.0,135000.0,312682.5,29686.5,297000.0,...,0.0,0.0,0.0,0.0,0.006598,0.007433,0.034693,0.322999,0.260977,1.826957
100007,0,0.0,1.0,0.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100008,0,0.0,1.0,0.0,1.0,0.0,99000.0,490495.5,27517.5,454500.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456186,1,0.0,1.0,0.0,0.0,1.0,207000.0,450000.0,32746.5,450000.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
456215,1,0.0,2.0,0.0,0.0,1.0,144000.0,1303200.0,46809.0,1125000.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,6.000000
456225,1,0.0,1.0,0.0,1.0,0.0,225000.0,297000.0,19975.5,297000.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
456233,1,0.0,2.0,0.0,1.0,0.0,225000.0,521280.0,23089.5,450000.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
456254,1,0.0,2.0,0.0,1.0,0.0,171000.0,370107.0,20205.0,319500.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [36]:
df_test

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,0.0,1.0,0.0,1.0,0.0,135000.0,568800.0,20560.5,450000.0,6.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100005,0.0,0.0,0.0,1.0,0.0,99000.0,222768.0,17370.0,180000.0,6.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
100013,0.0,0.0,1.0,1.0,0.0,202500.0,663264.0,69777.0,630000.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000
100028,0.0,1.0,0.0,1.0,2.0,315000.0,1575000.0,49018.5,1575000.0,6.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
100038,0.0,0.0,1.0,0.0,1.0,180000.0,625500.0,32067.0,625500.0,6.0,...,0.0,0.0,0.0,0.0,0.001817,0.001371,0.003506,0.009689,0.556172,1.899255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,0.0,1.0,0.0,1.0,0.0,121500.0,412560.0,17473.5,270000.0,6.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
456222,0.0,1.0,0.0,0.0,2.0,157500.0,622413.0,31909.5,495000.0,6.0,...,0.0,0.0,0.0,0.0,0.001817,0.001371,0.003506,0.009689,0.556172,1.899255
456223,0.0,1.0,1.0,1.0,1.0,202500.0,315000.0,33205.5,315000.0,6.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000
456224,0.0,0.0,0.0,0.0,0.0,225000.0,450000.0,25128.0,450000.0,4.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
456250,0.0,1.0,1.0,0.0,0.0,135000.0,312768.0,24709.5,270000.0,6.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000

#  Machine Learning

In [37]:
from machinelearning import prediction


file=open("machinelearning.py","r",encoding="utf-8")
#print(file.read())
file.close()
del file

c:\users\minim\anaconda3\envs\python37\lib\site-packages\eli5\base_utils.py:28: DeprecationWarning: inspect.getargspec() is deprecated since Python 3.0, use inspect.signature() or inspect.getfullargspec()
  init_args = inspect.getargspec(class_.__init__)
c:\users\minim\anaconda3\envs\python37\lib\site-packages\eli5\base_utils.py:36: DeprecationWarning: The usage of `cmp` is deprecated and will be removed on or after 2021-06-01.  Please use `eq` and `order` instead.
  return attr.s(class_, these=these, init=False, slots=True, **attrs_kwargs)  # type: ignore
c:\users\minim\anaconda3\envs\python37\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)
c:\users\minim\anaconda3\envs\python37\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.feature_selection.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.
  warnings.warn(message, FutureWarning)
Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.

In [38]:
# harmonise les types

`should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

In [39]:
prediction(df_train,models=[{"modèle":LinearSVC,"paramètres":{"random_state":44}},
                       {"modèle":RandomForestClassifier,"paramètres":{"n_estimators":750,"random_state":44}},
                       {"modèle":GradientBoostingClassifier,"paramètres":{"random_state":44}},
                       {"modèle":LogisticRegression,"paramètres":{"random_state":44}},
                      {"modèle":XGBClassifier,"paramètres":{}}
                     ],
          dataframe_non_qualifié=df_test)

création des échantillons

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

#  Let's check models details

In [ ]:
fichiers=os.listdir("./../")
fichiers=list(filter(lambda x : x[-5:]=='.html',fichiers))

In [ ]:
from IPython.core.display import display, HTML
for fichier in fichiers:
    print(fichier[:-5],':')
    f=open("./../"+fichier,'r')
    g=f.read()
    f.close()
    
    display(HTML(g))
    f=open("./../"+fichier[:-4]+'txt','r')
    g=f.read()
    f.close()
    print(g,'\n\n')

In [ ]:
import os
import webbrowser
os.chdir("./../")
webbrowser.open('http://127.0.0.1:5000/', new=2)
os.popen('start cmd.exe /c mlflow ui')